hostname {{ hostname }}

{% for vlan in vlans %}
vlan {{ vlan.vid }}
 name {{ circuit_name }}
 exit
interface {{ uplink_interface }}
 switchport trunk allowed vlan add {{ vlan_id }}
 end
interface {{ interface.name }}
 switchport mode access
 switchport trunk allowed vlan add {{ vlan_id }}
 end
 {% endfor %}
